body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "Sutra";
  src: local("Sutra"),
    url("./fonts/sutra/Sutra.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Megidana";
  src: local("Megidana"),
    url("./fonts/megidana/Megidana.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "BrittanyAgustina";
  src: local("BrittanyAgustina"),
    url("./fonts/brittany_agustina/BrittanyAgustina.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Espect";
  src: local("Espect"),
    url("./fonts/espect_retro/Espect.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Holipop";
  src: local("Holipop"),
    url("./fonts/holipop/Holipop.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Ladytop";
  src: local("Ladytop"),
    url("./fonts/ladytop/Ladytop.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "QuickerMachine";
  src: local("QuickerMachine"),
    url("./fonts/QuickerMachine/QuickerMachine.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Ukasyah";
  src: local("Ukasyah"),
    url("./fonts/ukasyah/Ukasyah.ttf") format("truetype");
  font-weight: bold;
}
